@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");

/* テキストのデフォルト書式 */
body {
  color: #8f6859;
  font-family: "Kosugi Maru", sans-serif;
  font-size: 20px;
  background-color: #fff;
  line-height: normal;
  overflow-x: hidden;
}
/* aリンクの書式 */
a {
  color: inherit;
  text-decoration: none;
}
/* コンテナ幅 */
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* 共通リンク */
main section p.link {
  padding-top: 50px;
}
main section p.link a {
  max-width: 144px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  color: #fff;
  padding-left: 22px;
  background-color: rgba(143, 104, 89, 0.87);
  background-image: url(../img/link.svg);
  background-repeat: no-repeat;
  background-position: right 8px top 5px;
  border-radius: 20px;
  display: block;
}
main section p.link a:hover {
  background-color: #504324;
}

/* ----------------
ヘッター
-------------------*/
/* ヘッターバー・追従 */
header {
  background-color: rgba(254, 243, 216, 0.8);
  position: sticky;
  top: 0;
  z-index: 2;
}
header div.container nav {
  padding-top: 12px;
  padding-bottom: 12px;
}

/*-------------------------------
ハンバーガーアイコン（モバイル用）
-------------------------------*/
.hmenu {
  /* 正方形を作る */
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgba(254, 243, 216, 0);
  /* spanタグを真ん中に持ってくるため、フレックスボックスを使う */
  /* 最初は表示しない575px以下の時に出てくるように設定 */
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3px;
  right: 15px;
  cursor: pointer;
}

/* メニューアイコンと文字 */
.hmenu span,
.hmenu span::before,
.hmenu span::after {
  width: 35px;
  height: 4px;
  background-color: #8f6859;
  border-radius: 4px;
  /* spanはインラインなのでブロックにする */
  display: block;
  position: absolute;
  /* だんだん変わっていく */
  transition: 0.5s;
}
/* 内容:"", 下:12px */
.hmenu span::before {
  content: "";
  /* スパンタグ（真ん中の線）を基準にして下から１２px移動する */
  bottom: 12px;
}

/* 内容:"", 上:12px */
.hmenu span::after {
  content: "";
  top: 12px;
}

/* closeボタンを
作る */
/* 背景色:unset */
.hmenu.close span {
  background-color: unset;
}

/* 下:0, 回転:-45° */
.hmenu.close span::before {
  bottom: 0;
  transform: rotate(-45deg);
}

/* 上:0, 回転:45° */
.hmenu.close span::after {
  top: 0;
  transform: rotate(45deg);
}
/* -------------------------------------------
-------------------------------------------- */

/* バーの設定 */
header div.container nav ul {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* メニューのリンク */
header div.container nav li a {
  padding: 5px;
  border-radius: 15px;
}
/* マウスオーバー時のホバー */
header div.container nav li a:hover {
  background-color: rgba(180, 168, 137, 0.9);
}
/* 英語の文字 */
header div.container nav ul span.english {
  font-size: 23px;
  padding-left: 2px;
}
/* 日本語文字 */
header div.container nav ul span.defo {
  font-size: 20px;
  padding-left: 4px;
}
/* アイコンと文字のFlex box */
header div.container nav a {
  display: flex;
  align-items: center;
}
/* モバイル用のロゴ */
header p {
  display: none;
}

/* --------------------
フッター
----------------------- */
/* 背景画像 */
footer {
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*問い合わせとSNSのフレックスボックス */
footer div.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* よくある質問、お問い合わせ */
footer ul.savu {
  color: #fff;
  font-size: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  gap: 35px;
  padding-top: 8px;
}
/* リンクの余白 */
footer ul.savu li a {
  padding-left: 10px;
  padding-bottom: 20px;
}
/* リンクのホバー時の線 */
footer ul.savu li a:hover {
  background-image: url(../img/Line\ 12.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}

/* SNS */
/* アイコンフレックスボックス */
footer ul.sns {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-top: 5px;
}
footer ul.sns li a img:hover {
  opacity: 0.5;
}

/* 著作権 */
/* 文字 */
footer p.cyosakukenn {
  color: #000;
  font-family: "Zen Maru Gothic";
  text-align: center;
  padding-top: 254px;
  padding-bottom: 19px;
  font-weight: bolder;
}
/* ご予約ボタン、固定 */
footer p.yoyaku {
  position: fixed;
  z-index: 1;
  right: 43px;
  bottom: 25px;
  opacity: 0.8;
}
/* ボタンのホバー */
footer p.yoyaku a:hover {
  opacity: 0.7;
}

/* --------------------------------------
レスポンシブ　ipad
----------------------------------------- */
@media (max-width: 991px) {
  /* ----------------
ヘッター
-------------------*/
  /* 日本語文字 */
  header div.container nav ul span.defo {
    font-size: 18px;
  }

  /* --------------------
フッター
----------------------- */
  /* 背景画像 */
  footer {
    background-image: url(../img/mobile-index.img/ipad-footer.png);
    background-position: left;
  }
}
/* --------------------------------------
レスポンシブ　スマホ
----------------------------------------- */

@media (max-width: 767px) {
  /* ----------------
ヘッター
-------------------*/
  /* メニューの横並びなし */
  header div.container nav ul {
    display: block;
    padding-left: 39px;
    padding-right: 39px;
  }
  header div.container nav li {
    text-align: center;
    padding-bottom: 32px;
  }

  /* メニューのアイコンを消す */
  header div.container nav li a img {
    display: none;
  }
  /* 英語の文字 */
  header div.container nav ul span.english {
    font-size: 22px;
    padding-left: 0px;
  }
  /* 日本語文字 */
  header div.container nav ul span.defo {
    font-size: 19px;
    padding-left: 0px;
  }

  /* ハンバーガーメニュー表示 */
  .hmenu {
    display: block;
  }
  /* ハンバーガーメニュー中身（Aパターン） */
  header div.container nav {
    display: none;
    position: absolute;
    right: 0;
    top: 63px;
    background-color: rgba(241, 228, 195, 0.9);
    padding-top: 26px;
  }
  /* アイコンと文字のFlex box */
  header div.container nav a {
    display: unset;
  }

  /* モバイル用のロゴ */
  header p {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* --------------------
フッター
----------------------- */
  /* 背景画像をなくして背景色灰色 */
  footer {
    background-image: unset;
    background-color: #595959;
  }
  /*問い合わせとSNSのフレックスボックス */
  footer div.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 124px;
  }
  /* よくある質問、お問い合わせ→縦並びに */
  footer ul.savu {
    font-size: 19px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    padding-top: 0;
  }
  /* よくある質問の余白 */
  footer ul.savu li:first-child {
    padding-top: 15px;
    padding-bottom: 16px;
  }
  /* リンクの余白 */
  footer ul.savu li a {
    padding-left: 10px;
    padding-bottom: 20px;
  }

  /* SNS */
  /* SNSのフレックスボックス */
  footer ul.sns {
    display: flex;
    gap: 20px;
    padding-right: 20px;
  }
  /* 著作権 */
  /* コンテナ幅の余白解除 */
  footer div.container {
    padding-left: 0;
    padding-right: 0;
  }
  /* 背景カラー黒 */
  div.cyosakuken-shikaku {
    background-color: #000;
  }
  /* 著作権の文字 */
  footer p.cyosakukenn {
    color: #fff;
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: unset;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* All Rights Reserved.消す */
  footer p.cyosakukenn span {
    display: none;
  }
  /* ご予約ボタン、固定 */
  footer p.yoyaku {
    position: fixed;
    z-index: 1;
    right: 10px;
    bottom: 3px;
    opacity: 1;
  }
  /* ボタンのホバー */
  footer p.yoyaku a:hover {
    opacity: 0.9;
  }
}
